:root {
  @apply light;
}

.dark {
  --bg-primary: #1f2937;
  --bg-secondary: black;
  --bg-accent: tomato;
  --bg-hover: rgba(255, 255, 255, 0.1);
  --border-strong: rgba(255, 255, 255, 0.2);
  --border-subtle: rgba(255, 255, 255, 0.1);
  --text-primary: pink;
  --text-secondary: gray;
  --text-accent: tomato;
}

.light {
  --bg-primary: white;
  --bg-secondary: gray;
  --bg-accent: tomato;
  --bg-hover: rgba(0, 0, 0, 0.05);
  --border-strong: rgba(0, 0, 0, 0.1);
  --border-subtle: rgba(0, 0, 0, 0.05);
  --text-primary: black;
  --text-secondary: gray;
  --text-accent: tomato;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/apercu-light-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/apercu-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/apercu-medium-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/apercu-bold-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/apercu-mono-subset.woff2");
}
