:root {
  @apply light;
}

.dark {
  --ground: hsla(215, 28%, 0%, 1);
  --ground-75: hsla(215, 28%, 17%, 0.75);
  --ground-50: hsla(215, 28%, 17%, 0.5);
  --ground-25: hsla(215, 28%, 17%, 0.25);
  --ground-10: hsla(215, 28%, 17%, 0.1);
  --ground-5: hsla(215, 28%, 17%, 0.05);
  --primary: hsl(53, 16%, 77%, 1);
  --primary-75: hsla(53, 16%, 77%, 0.75);
  --primary-50: hsla(53, 16%, 77%, 0.5);
  --primary-25: hsla(53, 16%, 77%, 0.25);
  --primary-10: hsla(53, 16%, 77%, 0.15);
  --primary-5: hsla(53, 16%, 77%, 0.1);
  --secondary: hsl(191, 61%, 81%, 1);
  --secondary-75: hsla(191, 61%, 81%, 0.75);
  --secondary-50: hsla(191, 61%, 81%, 0.5);
  --secondary-25: hsla(191, 61%, 81%, 0.25);
  --secondary-10: hsla(191, 61%, 81%, 0.1);
  --secondary-5: hsla(191, 61%, 81%, 0.05);
  --tertiary: hsl(234, 88%, 81%, 1);
  --tertiary-75: hsl(234, 88%, 81%, 0.75);
  --tertiary-50: hsl(234, 88%, 81%, 0.5);
  --tertiary-25: hsl(234, 88%, 81%, 0.25);
  --tertiary-10: hsl(234, 88%, 81%, 0.1);
  --tertiary-5: hsl(234, 88%, 81%, 0.05);
  --accent: hsla(15, 82%, 66%, 1);
  --accent-75: hsla(15, 82%, 66%, 0.75);
  --accent-50: hsla(15, 82%, 66%, 0.5);
  --accent-25: hsla(15, 82%, 66%, 0.25);
  --accent-10: hsla(15, 82%, 66%, 0.1);
  --accent-5: hsla(15, 82%, 66%, 0.05);
}

.light {
  --ground: hsl(20, 23%, 97%, 1);
  --ground-75: hsla(20, 23%, 97%, 0.75);
  --ground-50: hsla(20, 23%, 97%, 0.5);
  --ground-25: hsla(20, 23%, 97%, 0.25);
  --ground-10: hsla(20, 23%, 97%, 0.1);
  --ground-5: hsla(20, 23%, 97%, 0.05);
  --primary: hsl(215, 28%, 17%, 1);
  --primary-75: hsla(215, 28%, 17%, 0.75);
  --primary-50: hsla(215, 28%, 17%, 0.5);
  --primary-25: hsla(215, 28%, 17%, 0.25);
  --primary-10: hsla(215, 28%, 17%, 0.1);
  --primary-5: hsla(215, 28%, 17%, 0.05);
  --secondary: hsl(247, 59%, 41%, 1);
  --secondary-75: hsla(247, 59%, 41%, 0.75);
  --secondary-50: hsla(247, 59%, 41%, 0.5);
  --secondary-25: hsla(247, 59%, 41%, 0.25);
  --secondary-10: hsla(247, 59%, 41%, 0.1);
  --secondary-5: hsla(247, 59%, 41%, 0.05);
  --accent: hsla(15, 82%, 66%, 1);
  --accent-75: hsla(15, 82%, 66%, 0.75);
  --accent-50: hsla(15, 82%, 66%, 0.5);
  --accent-25: hsla(15, 82%, 66%, 0.25);
  --accent-10: hsla(15, 82%, 66%, 0.1);
  --accent-5: hsla(15, 82%, 66%, 0.05);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/apercu-light-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/apercu-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/apercu-medium-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/apercu-bold-subset.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Apercu Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/apercu-mono-subset.woff2");
}
